@import "tailwindcss";

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #100202;
    padding: 0px 40px;
    position: fixed;
    top:0;
    z-index:1000;
}
.logo{
    width:6%;
    margin-left:3%;
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.logo img{
    width:100%;
    height:100%;
    object-fit: contain;
}
header nav{
    flex:0 1 70%;
}
nav ul {
    list-style: none;
    display: flex;
    gap:5%;
}

nav ul li {
    margin: 0 15px;
}
nav ul li a:hover{
    color:rgb(214, 116, 116);
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    /* font-weight: bold; */
}

/*///////////////////////////////////////////////////////////////////////// Main Section ///////////////////////////////////////////////////////////////////*/
.section1 {
    position: relative;
    width: 100%;
    /* height: 80vh; */
}

.main_img {
    width:100%;
}
.main_img img{
    width:100%;
    object-fit: contain;
}
/* Footer Navigation */
.footer {
    background: #382E2E;
    padding: 15px 0;
    /* min-height: 200px; */
}

.footer-ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* min-height: 100px; */
    background-color: black;
    border: 1px solid#753737;
}

.footer-ul li {
    /* display:flex;
    justify-content: center;
    flex-direction: row; */
    margin: 0 15px;
    width:20%;
    font-size: 1rem;
    border: 1px solid#753737;
}

.footer-ul li a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: rgb(140, 154, 167);
    padding: 10px 15px;
    border-radius: 5px;
    background-color: black;
    gap:3%;
    font-weight: bold;
}

.footer-ul li a:hover {
    filter: brightness(1.5);
}
.footer_img{
    width:50%;
    flex:0 1 50%;
}
.footer-ul li img{
    width:100%;
    object-fit: contain;
}
.footer_p{
    align-content: center;
}

.section3{
    background-image: url(../public/images/scene1.png);
    background-repeat: no-repeat;
  
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin-bottom:3%;
    height:60vh;
    padding:10% 10%;
}
.section3 h1{
    font-size:2rem;
    color:white;
    flex: 0 1 50%;
    padding-top:5%;
}
.section3 p{
    font-size:1.2rem;
    color:white;
}
.para{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6em;
    gap:5%;
}
/*///////////////////////////////////////////////////////////////// section4 ////////////////////////////////////////////////////////////////////*/
.section4{
    width:100%;
    background-color: black;
    /* padding-top:3%; */
    margin-bottom: 10%;
    position:relative;
}
.section4 h1{
    font-size:2rem;
    color:white;
    margin-bottom:3%;
}

.list_content {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    margin:auto;
    gap:1%;
  }

/* .list_content li {
    flex: 0 0 33%;
    
} */
.carousel_container{
  
    width:100%;
/*   
    overflow: hidden; */
}
  /*//////////////////////////////////////////////////////////////////// 左右設定 ///////////////////////////////////////////////////////////////////////////*/
.list_content .list_item .list_link{
    width:60vh;
    user-select: none;
    display:block;
    transition: 0.2 ease;
    border: 1px solid transparent;
}
.list_content .list_item .list_link:hover{
    filter: brightness(1.2);
    border-color:#2cc0ff;
}
.list_content .list_link .list_img{
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1%;
}

.carousel_wrapper .swiper-pagination-bullet-active{
    opacity:1;
}


/*/////////////////////////////////////////////////////////// remover button icon ///////////////////////////////////////////*/
/* :root {
    --swiper-theme-color: #000;
} */
/* // 插入你想使用的 icon 即設定尺寸 */
.swiper-button-prev::after{
    color:rgb(255, 186, 186);
}
.swiper-button-next::after{
    color:rgb(255, 186, 186);
}
    