#top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #100202;
    padding: 0px 80px;
    position: fixed;
    top:0;
    z-index:1000;
}
#top_logo{
    width:6%;
    margin-left:3%;
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
#top_ul{
    height: 2vh !important;
}
#top_img{
    width:100%;
    height:100%;
    object-fit: contain;
}
#top_nav{
    flex:0 1 70%;
    >ul {
        list-style: none;
        display: flex;
        gap:5%;
    }
}

#top_nav ul li {
    margin: 0 15px;
}
#top_nav ul li a:hover{
    color:rgb(214, 116, 116);
}
#top_nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    /* font-weight: bold; */
}

