.section1{
    position:relative;
    width:100%;
}
.page_section1{
    position:relative;
    width:100%;
    height:120vh;
    margin-bottom:200px;
}
.section1_logo{
    position:absolute;
    top:10%;
    left:5%;
    z-index: 10;
}
.section1_img{
    position:absolute;
    top:-5%;
    width: 100%;
    height:120vh;
    overflow: hidden;
    
}
img{
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Elastic Effect */
}
.section1_logo:hover {
    filter: brightness(1.3) contrast(1.1); /* Brightness and Contrast 調整*/
    transform: scale(1.05); /* Scale 調整*/
}
.section1_img:hover {
    filter: brightness(1.05) contrast(1.05); /* Brightness and Contrast 調整 */
    opacity: 0.7;
}
.intro{
    width:100%;
    height:auto;
    margin: 0 auto 50 auto;
}

.story{

    padding: 0 65px;

}
.para_img{
    /* width: 100%;
    height:auto; */
    overflow: hidden;
}
.para_img img{
    width:100%;
    height:100%;
    object-fit: none;

}
.paragraph{
    /* width:100%;
    height:auto; */
    background-color: #F1D6C9;
    padding: 10px;
}
.paragraph h2{
    color:#2B2B2B;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.paragraph p{
    color:#2B2B2B;
    font-size: 1rem;
    line-height: 2;
    text-align: center;
}
.container1{
    display:grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(7,120px);
    margin-bottom: 100px;
}
.img-block1{
    grid-area:1/1/5/9;
    z-index:2;
}
.text-block1{
    grid-area:4/8/7/15;
    z-index: 3;
    padding:50px;
    border-radius: 1%;
    display: grid;
    place-items: center; 
}

.container2{
    display:grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(7,120px);
}
.img-block2{
    grid-area:3/8/7/16;
    z-index:4;
}
.text-block2{
    grid-area:1/2/4/9;
    z-index: 5;
    padding:50px;
    border-radius: 1%;
    display: grid;
    place-items: center; 
}

.monster_section{
    position:relative;
    width: 100%;
    height:80vh;
}
.monster_section_ice{
    position:relative;
    width: 100%;
    height:100vh;
}
.monster_container{
    width:67%;
    height:auto;
    position:absolute;
    top:0;
    z-index:5;
    bottom:0%;
}
.monster_container_ice{
    width:67%;
    height:auto;
    position:absolute;
    top:0;
    z-index:5;
    bottom:0%;
    right:0;
}
.bg_block{
    background-color: #918973;
    opacity:52%;
    width:98vw;
    height:600px;
    position:absolute;
    bottom:0%;
}

.monster_para{
    position: absolute;
    top:40%;
    right:5%;
    width:500px;
    height:auto;
    z-index:6;
    /* display:flex;
    flex */
}
.monster_para_ice{
    position: absolute;
    top:60%;
    left:5%;
    width:500px;
    height:auto;
    z-index:6;
    /* display:flex;
    flex */
    h1{
        font-size: 2rem;
    }
}
.monster_para h1{
    font-size: 2rem;
}
.monster_para p{
    font-size: 1rem;
}
